$background_top: #1E1E1E;
$background_bottom: #000000;
$font-gradient-orange: #FF8E3D;
$font-gradient-blue: #3949ff;
$nav_right: #161616;
$nav_left: #252525;
$whoami2: rgba(0, 0, 0, 0.16);
$whoami1: rgba(102, 102, 102, 0.16);
$project_card_top: #2A2A2A;
$project_card_bottom: #171717;